# Aula 0.1 - Abrindo arquivos em CSV

In [1]:
# Instalando o pandas
!pip install pandas

Requirement already satisfied: pandas in /home/joao-victor-oliveira/anaconda3/lib/python3.9/site-packages (1.4.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/joao-victor-oliveira/anaconda3/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/joao-victor-oliveira/anaconda3/lib/python3.9/site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.18.5 in /home/joao-victor-oliveira/anaconda3/lib/python3.9/site-packages (from pandas) (1.21.5)
Requirement already satisfied: six>=1.5 in /home/joao-victor-oliveira/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [5]:
#Importando o pandas
import pandas as pd

In [11]:
#Abrindo o arquivo csv

df = pd.read_csv("/home/joao-victor-oliveira/Documents/Repositories/Personal_Projects/Codigos-Curso-de-Pandas/CSVs/Datasets/AIDS/art_coverage_by_country_clean.csv", encoding="UTF-8", sep=",")

#pd.read_csv(caminho do arquivo, codificação, separador)

In [12]:
#imprimindo os 5 primeiros dados do dataframe
df.head()

,Country,Reported number of people receiving ART,Estimated number of people living with HIV,Estimated ART coverage among people living with HIV (%),Estimated number of people living with HIV_median,Estimated number of people living with HIV_min,Estimated number of people living with HIV_max,Estimated ART coverage among people living with HIV (%)_median,Estimated ART coverage among people living with HIV (%)_min,Estimated ART coverage among people living with HIV (%)_max,WHO Region
0,Afghanistan,920,7200[4100–11000],13[7–20],7200.0,4100.0,11000.0,13.0,7.0,20.0,Eastern Mediterranean
1,Albania,580,Nodata,Nodata,NaN,NaN,NaN,NaN,NaN,NaN,Europe
2,Algeria,12800,16000[15000–17000],81[75–86],16000.0,15000.0,17000.0,81.0,75.0,86.0,Africa
3,Angola,88700,330000[290000–390000],27[23–31],330000.0,290000.0,390000.0,27.0,23.0,31.0,Africa
4,Argentina,85500,140000[130000–150000],61[55–67],140000.0,130000.0,150000.0,61.0,55.0,67.0,Americas

In [17]:
#Especificando cabeçalho do arquivo
'''
Usamos isso quando o cabeçalho do arquivo não está na primeira linha
mas sim em linhas abaixo
'''

df = pd.read_csv("/home/joao-victor-oliveira/Documents/Repositories/Personal_Projects/Codigos-Curso-de-Pandas/CSVs/Datasets/AIDS/art_coverage_by_country_clean.csv", encoding="UTF-8", sep=",", header=0)
#pd.read_csv(caminho do arquivo, codificação, separador, linha de cabeçalho)

,Country,Reported number of people receiving ART,Estimated number of people living with HIV,Estimated ART coverage among people living with HIV (%),Estimated number of people living with HIV_median,Estimated number of people living with HIV_min,Estimated number of people living with HIV_max,Estimated ART coverage among people living with HIV (%)_median,Estimated ART coverage among people living with HIV (%)_min,Estimated ART coverage among people living with HIV (%)_max,WHO Region
0,Afghanistan,920,7200[4100–11000],13[7–20],7200.0,4100.0,11000.0,13.0,7.0,20.0,Eastern Mediterranean
1,Albania,580,Nodata,Nodata,NaN,NaN,NaN,NaN,NaN,NaN,Europe
2,Algeria,12800,16000[15000–17000],81[75–86],16000.0,15000.0,17000.0,81.0,75.0,86.0,Africa
3,Angola,88700,330000[290000–390000],27[23–31],330000.0,290000.0,390000.0,27.0,23.0,31.0,Africa
4,Argentina,85500,140000[130000–150000],61[55–67],140000.0,130000.0,150000.0,61.0,55.0,67.0,Americas

In [24]:
#Selecionando somente algumas colunas
'''
Durante a análise dos dados, podemos às vezes querer visualizar ou importar apenas algumas colunas.
Para isso usamos a função abaixo
'''

'''
Devemos tomar cuidado pois o nome da coluna na lista deve ser exatamente o nome
da coluna no CSV
'''

df = pd.read_csv("/home/joao-victor-oliveira/Documents/Repositories/Personal_Projects/Codigos-Curso-de-Pandas/CSVs/Datasets/AIDS/art_coverage_by_country_clean.csv", encoding="UTF-8", sep=",", header=0, usecols=["Country", "Reported number of people receiving ART", "Estimated number of people living with HIV", "Estimated ART coverage among people living with HIV (%)", "WHO Region"])

#pd.read_csv(caminho do arquivo, codificação, separador, linha de cabeçalho, lista de colunas que queremos importar)

In [25]:
#Lendo X linhas do arquivo
'''
Da mesma maneira, pode ser que queremos ler apenas algumas linhas do arquivo
'''

df = pd.read_csv("/home/joao-victor-oliveira/Documents/Repositories/Personal_Projects/Codigos-Curso-de-Pandas/CSVs/Datasets/AIDS/art_coverage_by_country_clean.csv", encoding="UTF-8", sep=",", header=0, usecols=["Country", "Reported number of people receiving ART", "Estimated number of people living with HIV", "Estimated ART coverage among people living with HIV (%)", "WHO Region"], nrows=100)

#pd.read_csv(caminho do arquivo, codificação, separador, linha de cabeçalho, lista de colunas que queremos importar, numero de linhas para importar)

In [33]:
#Imprimindo o dataframe
display(df)

,Country,Reported number of people receiving ART,Estimated number of people living with HIV,Estimated ART coverage among people living with HIV (%),WHO Region
0,Afghanistan,920,7200[4100–11000],13[7–20],Eastern Mediterranean
1,Albania,580,Nodata,Nodata,Europe
2,Algeria,12800,16000[15000–17000],81[75–86],Africa
3,Angola,88700,330000[290000–390000],27[23–31],Africa
4,Argentina,85500,140000[130000–150000],61[55–67],Americas
...,...,...,...,...,...
95,Malawi,814000,1000000[940000–1100000],78[70–84],Africa
96,Malaysia,41500,87000[77000–98000],48[42–53],Western Pacific
97,Maldives,Nodata,Nodata,Nodata,South-East Asia
98,Mali,47100,150000[120000–190000],31[25–39],Africa
99,Malta,Nodata,Nodata,Nodata,Europe

# Aula 0.4

In [4]:
import pandas as pd

In [7]:
df = pd.read_csv("/home/joao-victor-oliveira/Documents/Repositories/Personal_Projects/Codigos-Curso-de-Pandas/CSVs/Datasets/AIDS/art_coverage_by_country_clean.csv")

df.head()

,Country,Reported number of people receiving ART,Estimated number of people living with HIV,Estimated ART coverage among people living with HIV (%),Estimated number of people living with HIV_median,Estimated number of people living with HIV_min,Estimated number of people living with HIV_max,Estimated ART coverage among people living with HIV (%)_median,Estimated ART coverage among people living with HIV (%)_min,Estimated ART coverage among people living with HIV (%)_max,WHO Region
0,Afghanistan,920,7200[4100–11000],13[7–20],7200.0,4100.0,11000.0,13.0,7.0,20.0,Eastern Mediterranean
1,Albania,580,Nodata,Nodata,NaN,NaN,NaN,NaN,NaN,NaN,Europe
2,Algeria,12800,16000[15000–17000],81[75–86],16000.0,15000.0,17000.0,81.0,75.0,86.0,Africa
3,Angola,88700,330000[290000–390000],27[23–31],330000.0,290000.0,390000.0,27.0,23.0,31.0,Africa
4,Argentina,85500,140000[130000–150000],61[55–67],140000.0,130000.0,150000.0,61.0,55.0,67.0,Americas

In [12]:
# Selecionando uma coluna por índice
'''
Seleciona apenas uma coluna do DataFrame
Difere do passo anterior, pois aqui importamos para o DataFrame
todas as colunas mas estamos selecionando apenas uma do DataFrame
já construído
'''
#DataFrame[coluna]
df["Estimated number of people living with HIV"].head()

0         7200[4100–11000]
1                   Nodata
2       16000[15000–17000]
3    330000[290000–390000]
4    140000[130000–150000]
Name: Estimated number of people living with HIV, dtype: object

In [14]:
# Selecionando n colunas por índice
#DataFrame[[coluna1, coluna2, ..., colunaN]]
df[["Country", "Estimated number of people living with HIV"]].head()

       Country Estimated number of people living with HIV
0  Afghanistan                           7200[4100–11000]
1      Albania                                     Nodata
2      Algeria                         16000[15000–17000]
3       Angola                      330000[290000–390000]
4    Argentina                      140000[130000–150000]

In [16]:
# Selecionando por notação de ponto
'''
Notação que segue o padrão de atributo de POO; só conseguimos um por
notação
'''
#DataFrame.atributo
df.Country.head()

0    Afghanistan
1        Albania
2        Algeria
3         Angola
4      Argentina
Name: Country, dtype: object

In [20]:
# Adicionando coluna nova
'''
Às vezes precisamos de colunas novas
no DataFrame. Podemos criá-las com o exemplo
abaixo
'''

df["Planet"] = "Earth"
#DataFrame[nome para a coluna] = valor da coluna (pode usar operações com outras colunas tb)
df.head()

,Country,Reported number of people receiving ART,Estimated number of people living with HIV,Estimated ART coverage among people living with HIV (%),Estimated number of people living with HIV_median,Estimated number of people living with HIV_min,Estimated number of people living with HIV_max,Estimated ART coverage among people living with HIV (%)_median,Estimated ART coverage among people living with HIV (%)_min,Estimated ART coverage among people living with HIV (%)_max,WHO Region,Planet
0,Afghanistan,920,7200[4100–11000],13[7–20],7200.0,4100.0,11000.0,13.0,7.0,20.0,Eastern Mediterranean,Earth
1,Albania,580,Nodata,Nodata,NaN,NaN,NaN,NaN,NaN,NaN,Europe,Earth
2,Algeria,12800,16000[15000–17000],81[75–86],16000.0,15000.0,17000.0,81.0,75.0,86.0,Africa,Earth
3,Angola,88700,330000[290000–390000],27[23–31],330000.0,290000.0,390000.0,27.0,23.0,31.0,Africa,Earth
4,Argentina,85500,140000[130000–150000],61[55–67],140000.0,130000.0,150000.0,61.0,55.0,67.0,Americas,Earth

# Aula 0.5

In [21]:
import pandas as pd

df = pd.read_csv("/home/joao-victor-oliveira/Documents/Repositories/Personal_Projects/Codigos-Curso-de-Pandas/CSVs/Datasets/AIDS/art_coverage_by_country_clean.csv")

df.head()

,Country,Reported number of people receiving ART,Estimated number of people living with HIV,Estimated ART coverage among people living with HIV (%),Estimated number of people living with HIV_median,Estimated number of people living with HIV_min,Estimated number of people living with HIV_max,Estimated ART coverage among people living with HIV (%)_median,Estimated ART coverage among people living with HIV (%)_min,Estimated ART coverage among people living with HIV (%)_max,WHO Region
0,Afghanistan,920,7200[4100–11000],13[7–20],7200.0,4100.0,11000.0,13.0,7.0,20.0,Eastern Mediterranean
1,Albania,580,Nodata,Nodata,NaN,NaN,NaN,NaN,NaN,NaN,Europe
2,Algeria,12800,16000[15000–17000],81[75–86],16000.0,15000.0,17000.0,81.0,75.0,86.0,Africa
3,Angola,88700,330000[290000–390000],27[23–31],330000.0,290000.0,390000.0,27.0,23.0,31.0,Africa
4,Argentina,85500,140000[130000–150000],61[55–67],140000.0,130000.0,150000.0,61.0,55.0,67.0,Americas

In [ ]:
# Usando o loc

In [ ]:
# Usando o iloc